// -----------------------------------------------------------------------------
// This file contains all @font-face declarations, if any.
// -----------------------------------------------------------------------------

/*
* system fonts
*/
body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

@font-face {
  src: url('/src/assets/fonts/Roboto/Roboto-Thin.ttf'),
        url('/src/assets/fonts/Roboto/Roboto-Regular.ttf'),
        url('/src/assets/fonts/Sahitya/Sahitya-Bold.ttf'),
        url('/src/assets/fonts/Sahitya/Sahitya-Regular.ttf');
}

$font-roboto: 'Roboto', sans-serif;
$font-sahitya: 'Sahitya', serif;

@mixin roboto-thin() {
  font-family: $font-roboto;
  font-weight: 300;
}
@mixin roboto-regular() {
  font-family: $font-roboto;
  font-weight: 400;
}
@mixin sahitya-regular() {
  font-family: $font-sahitya;
  font-weight: 400;
}
