/**
 * Basic typography style for copy text
 */
body {
  color: $text-color;
}

.heading-first {
  @include sahitya-regular;
  color: $color-stroke;
  font-size: 1.6em;
}

.paragraph {
  color: $text-white;

}

.heading-secondary {
  @include sahitya-regular;
  color: $color-primary;

  &--gold {
    @include sahitya-regular;
    color: $color-stroke !important;
  }
}

.paragraph-secondary {
  color: $text-color;
  font-weight: 100;
  line-height: 1;
  font-size: 70%;
}

