/**
 * Basic typography style for copy text
 */
body {
  color: $text-color;
}

.heading-first {
  @include sahitya-regular;
  color: $color-stroke;
  font-size: 1.6em;
}

.paragraph {
  color: $text-white;

}

