/**
 * Basic typography style for copy text
 */
body {
  color: $text-color;
}

.heading-first {
  @include sahitya-regular;
  color: $color-stroke;
  font-size: 3em;
  margin: 0;
}

.paragraph {
  color: $text-white;
}

.heading-secondary {
  @include sahitya-regular;
  color: $color-primary;

  &--gold {
    @include sahitya-regular;
    color: $color-stroke !important;
  }
  &--color-secondary {
    color: $color-secondary;
    line-height: 1.6;
  }
  &--color-white {
    @include sahitya-regular;
    color: $text-white;
  }
}

.paragraph-secondary {
  color: $text-color;
  font-weight: 100;
  line-height: 1.6;
  font-size: 90%;
}

.display-4.display-custom {
  font-size: 2rem;
}

.display-4.display-custom-2 {
  font-size: 2.5rem;
}
