
/*

Title: Heber Ximenes - Advocacia
Author: J Dutra M Nt
Author URL: https://dutraneto.com/portfolio
Starts on: 04/15/19

*/

// -----------------------------------------------------------------------------
// This file contains styles that are specific to the home page.
// -----------------------------------------------------------------------------


////////////////
// Section Info
///////////////

.info {
    height: 80vh;
    width: 100%;
    background-color: $text-white;
    display: flex;
    position: relative;

    @include respond(phone) {
        height: 100vh;
        display: block;
        margin-bottom: 10rem;
    }

    &__bg-color {
        background-color: $color-primary;
        height: 80vh;
        width: 20%;
        @include respond(phone) {
            height: 130vh;
            width: 25%;
        }
    }
    &__text {
        width: 50%;
        // margin-left: 120px;


        @include respond(phone) {
            width: 220px;
            margin-left: 10px;
            // margin-top: 60px;
        }
    }

    &__frame {
        margin-left: -137px;
        max-width: 300px;
        height: 400px;
        border: 2px solid $color-primary;
        z-index: 3;
        overflow: hidden;
        padding: 13px;
    }

    &__pic {
        height: 370px;
        z-index: 3;
        max-width: 270px;
        object-fit: cover;
        box-shadow: 1px 1px 4px rgba(0,0,0, .3);
        // -webkit-filter: brightness(0.9);
        // filter: brightness(0.9);
    }

}
// -------------------INFO--------------------- //


////////////////////
// Section Services
///////////////////

.services {
    padding: 5rem 3.75rem;
    background-color: $color-background-secondary;

    &__info {
        background: url("../img/lady-justice.png") no-repeat top center;
        background-size: contain;
    }

    &__card {
        border: 1px solid $color-stroke;
        height: 18.75rem;
        min-width: 18.75rem;
        margin-left: 1.5rem;
        margin-bottom: 1.5rem;
        &:not(:first-child) {
            // margin-top: 35px;
        }

        @include respond(phone) {
            margin-top: 15px;
            margin-left: 0;
            width: 100%;
        }

        &--gavel {
            stroke: $color-stroke;
        }
        &--briefcase {
            stroke: $color-stroke;
        }
        &--award {
            stroke: $color-stroke;
        }
        &--balance {
            stroke: $color-stroke;
        }
    }
}
// -------------------SERVICES--------------------- //


////////////////////
// Section contact
///////////////////

.contact {
    padding-bottom: 9rem;
    height: 100vh;
    width: 100vw;
    background-image: url("../img/contact-desktop.jpg");
    background-repeat: no-repeat;
    background-position: bottom center;
    background-attachment: fixed;
    background-size: cover;
    // filter: opacity(1);
    -webkit-filter: contrast(1);
    filter: contrast(1);

    // &__text {
    // }
}

.form-control {
    &::placeholder {
    color: $color-text-gray !important;
  }
}

// -------------------CONTACT--------------------- //


////////////////////
// Section agency
///////////////////

.agency {
    padding: 5rem 3.75rem;
    background-color:$color-background-secondary;
    &__work {
        min-width: 23.75em;
        height: 300px;
    }

    &__figure {
        margin: 2em 2em 2em 0;
    }
}
// -------------------Agency--------------------- //


////////////////////
// Section map
///////////////////

.map {
    height: 100vh;
    width: 100%;
    background-color: $color-background-secondary;
}
// -------------------Agency--------------------- //
