
/*

Title: Heber Ximenes - Advocacia
Author: J Dutra M Nt
Author URL: https://dutraneto.com/portfolio
Starts on: 04/15/19

*/

// -----------------------------------------------------------------------------
// This file contains styles that are specific to the home page.
// -----------------------------------------------------------------------------


////////////////
// Section Info
///////////////

.info {
    // height: 80vh;
    padding-right: 3.75rem;
    width: 100%;
    background-color: $text-white;
    display: flex;
    position: relative;

    @include respond(phone) {
        padding-right: 0;
        display: block;
        margin-bottom: 10rem;
    }

    &__disp {
        display: flex;
        align-items: center;
        justify-content: space-between;

        @include respond(tab-port) {
            height: 150vh;
            flex-direction: column;
            align-items: center;
            justify-content: center;

        }

    }

    &__bg-color {
        background-color: $color-primary;
        height: auto;
        width: 50%;

        @include respond(tab-port) {
            height: auto;
        }
        @include respond(phone) {
            height: auto;
            width: 25%;
        }
    }

    &__text {
        // width: 60%;
        flex-basis: 70%;
        background-image: url("../img/law-scale.jpg");
        background-position: center;
        background-size: contain;
        background-repeat: no-repeat;

        @include respond(tab-port) {
            width: 90%;
            margin-left: auto;
        }

        @include respond(phone) {
            margin-right: auto;
        }
    }

    &__frame {
        margin: 0;
        margin-left: -8.5625em;
        max-width: 300px;
        min-height: 400px;
        border: 2px solid $color-primary;
        z-index: 3;
        overflow: hidden;
        padding: 13px;

        @include respond(tab-port) {
            margin: 0;
        }
    }

    &__pic {
        height: 370px;
        z-index: 3;
        max-width: 270px;
        object-fit: cover;
        box-shadow: 1px 1px 4px rgba(0,0,0, .3);
        // -webkit-filter: brightness(0.9);
        // filter: brightness(0.9);
    }

}
// -------------------INFO--------------------- //


////////////////////
// Section Services
///////////////////

.services {
    padding: 5rem 3.75rem;
    background-color: $color-background-secondary;

    @include respond(tab-port) {
        padding: 3rem;
    }

    &__info {
        background: url("../img/lady-justice.png") no-repeat center center;
        background-size: cover;

        @include respond(tab-port) {
            background-size: contain;
        }
    }

    &__container {
        @include respond(tab-port) {
            margin-top: 2rem;
        }
    }

    &__card {
        border: 1px solid $color-stroke;
        height: 18.75rem;
        min-width: 18.75rem;
        margin-left: 1.5rem;
        margin-bottom: 1.5rem;
        &:not(:first-child) {
            // margin-top: 35px;
        }

        @include respond(desktop) {
            height: 14.75rem;
            min-width: 14.75rem;
            margin-left: 1rem;
            margin-bottom: 1rem;
        }
        @include respond(tab-port) {


        }

        @include respond(phone) {
            height: 18.75rem;
            min-width: 18.75rem;
        }



        &--gavel {
            stroke: $color-stroke;
        }
        &--briefcase {
            stroke: $color-stroke;
        }
        &--award {
            stroke: $color-stroke;
        }
        &--balance {
            stroke: $color-stroke;
        }
    }
}
// -------------------SERVICES--------------------- //


////////////////////
// Section contact
///////////////////

.contact {
    // padding-bottom: 9rem;
    height: 100vh;
    width: 100%;
    background-image: url("../img/contact-desktop.jpg");
    background-repeat: no-repeat;
    background-position: bottom center;
    background-attachment: fixed;
    background-size: cover;
    // filter: opacity(1);
    -webkit-filter: contrast(1);
    filter: contrast(1);

    @include respond(tab-port) {
        background-attachment: scroll;
        height: 120vh;
    }

    @include respond(phone) {
        background-image: url("../img/contact-mobile.jpg");
        background-size: cover;
        background-position: center center;
    }
}

.form-control {
    &::placeholder {
    color: $color-text-gray !important;
  }
}

// -------------------CONTACT--------------------- //


////////////////////
// Section agency
///////////////////

.agency {
    padding: 5rem 3.75rem 5rem 3.75rem;
    background-color:$color-background-secondary;
    &__work {
        min-width: 23.75em;
        // min-height: 300px;

        @include respond(desktop) {
            min-width: 18.75em;
        }
        @include respond(tab-land) {
            margin-bottom: 1em;
        }
    }

    @include respond(tab-land) {
        padding-left: 3rem;
        padding-right: 3rem;
    }

    &__figure {
        margin: 2em 1em 2em 0;
    }
}
// -------------------Agency--------------------- //


////////////////////
// Section map
///////////////////

.map {
    height: 100vh;
    width: 100%;
    background-color: $color-background-secondary;
}
// -------------------Agency--------------------- //
