/*! normalize.css v5.0.0 | MIT License | github.com/necolas/normalize.css */
/**
 * 1. Change the default font family in all browsers (opinionated).
 * 2. Correct the line height in all browsers.
 * 3. Prevent adjustments of font size after orientation changes in
 *    IE on Windows Phone and in iOS.
 */
/* Document
   ========================================================================== */
html {
  font-family: sans-serif;
  /* 1 */
  line-height: 1.15;
  /* 2 */
  -ms-text-size-adjust: 100%;
  /* 3 */
  -webkit-text-size-adjust: 100%;
  /* 3 */
}

/* Sections
   ========================================================================== */
/**
 * Remove the margin in all browsers (opinionated).
 */
body {
  margin: 0;
}

/**
 * Add the correct display in IE 9-.
 */
article,
aside,
footer,
header,
nav,
section {
  display: block;
}

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/* Grouping content
   ========================================================================== */
/**
 * Add the correct display in IE 9-.
 * 1. Add the correct display in IE.
 */
figcaption,
figure,
main {
  /* 1 */
  display: block;
}

/**
 * Add the correct margin in IE 8.
 */
figure {
  margin: 1em 40px;
}

/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/* Text-level semantics
   ========================================================================== */
/**
 * 1. Remove the gray background on active links in IE 10.
 * 2. Remove gaps in links underline in iOS 8+ and Safari 8+.
 */
a {
  background-color: transparent;
  /* 1 */
  -webkit-text-decoration-skip: objects;
  /* 2 */
}

/**
 * Remove the outline on focused links when they are also active or hovered
 * in all browsers (opinionated).
 */
a:active,
a:hover {
  outline-width: 0;
}

/**
 * 1. Remove the bottom border in Firefox 39-.
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  text-decoration: underline dotted;
  /* 2 */
}

/**
 * Prevent the duplicate application of `bolder` by the next rule in Safari 6.
 */
b,
strong {
  font-weight: inherit;
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/**
 * Add the correct font style in Android 4.3-.
 */
dfn {
  font-style: italic;
}

/**
 * Add the correct background and color in IE 9-.
 */
mark {
  background-color: #ff0;
  color: #000;
}

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Embedded content
   ========================================================================== */
/**
 * Add the correct display in IE 9-.
 */
audio,
video {
  display: inline-block;
}

/**
 * Add the correct display in iOS 4-7.
 */
audio:not([controls]) {
  display: none;
  height: 0;
}

/**
 * Remove the border on images inside links in IE 10-.
 */
img {
  border-style: none;
}

/**
 * Hide the overflow in IE.
 */
svg:not(:root) {
  overflow: hidden;
}

/* Forms
   ========================================================================== */
/**
 * 1. Change the font styles in all browsers (opinionated).
 * 2. Remove the margin in Firefox and Safari.
 */
button,
input,
optgroup,
select,
textarea {
  font-family: sans-serif;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */
}

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button,
input {
  /* 1 */
  overflow: visible;
}

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select {
  /* 1 */
  text-transform: none;
}

/**
 * 1. Prevent a WebKit bug where (2) destroys native `audio` and `video`
 *    controls in Android 4.
 * 2. Correct the inability to style clickable types in iOS and Safari.
 */
button,
html [type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
}

/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
 * Change the border, margin, and padding in all browsers (opinionated).
 */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
  box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */
}

/**
 * 1. Add the correct display in IE 9-.
 * 2. Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */
}

/**
 * Remove the default vertical scrollbar in IE.
 */
textarea {
  overflow: auto;
}

/**
 * 1. Add the correct box sizing in IE 10-.
 * 2. Remove the padding in IE 10-.
 */
[type="checkbox"],
[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

/**
 * Remove the inner padding and cancel buttons in Chrome and Safari on macOS.
 */
[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/* Interactive
   ========================================================================== */
/*
 * Add the correct display in IE 9-.
 * 1. Add the correct display in Edge, IE, and Firefox.
 */
details,
menu {
  display: block;
}

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item;
}

/* Scripting
   ========================================================================== */
/**
 * Add the correct display in IE 9-.
 */
canvas {
  display: inline-block;
}

/**
 * Add the correct display in IE.
 */
template {
  display: none;
}

/* Hidden
   ========================================================================== */
/**
 * Add the correct display in IE 10-.
 */
[hidden] {
  display: none;
}

/**
 * Set up a decent box model on the root element
 */
html {
  box-sizing: border-box;
}

/**
 * Make all elements from the DOM inherit from the parent box-sizing
 * Since `*` has a specificity of 0, it does not override the `html` value
 * making all elements inheriting from the root box-sizing value
 * See: https://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/
 */
*,
*::before,
*::after {
  box-sizing: inherit;
}

a {
  color: #FFFFFF;
}

a:hover {
  color: #ffbf00;
}

img {
  max-width: 100%;
  height: auto;
}

/*

TODO:

0 - 600px:       PHONE
600 - 900px:     TABLET PORTRAIT
900 - 1200px:    TABLET LANDSCAPE
1200 - 1800:     NORMAL STYLES
1800px +:        BIG SCREENS


@mixin respond-phone {
  @media (max-width: 600px) { @content };
}

// $breakpoint argument choices:
/*
- phone
- tab-port
- tab-land
- big-desktop

Important: we use ems because rems are fails

1 em = 16px

TODO: ORDER:   BASE + TYPOGRAPHY > GENERAL LAYOUT + GRID > PAGE LAYOUT > COMPONENTS

*/
/*
* system fonts
*/
body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

@font-face {
  src: url("/src/assets/fonts/Roboto/Roboto-Thin.ttf"), url("/src/assets/fonts/Roboto/Roboto-Regular.ttf"), url("/src/assets/fonts/Sahitya/Sahitya-Bold.ttf"), url("/src/assets/fonts/Sahitya/Sahitya-Regular.ttf");
}

/**
 * Basic typography style for copy text
 */
body {
  color: #4D4E4E;
}

.heading-first {
  font-family: "Sahitya", serif;
  font-weight: 400;
  color: #ffbf00;
  font-size: 3em;
  margin: 0;
}

.paragraph {
  color: #FFFFFF;
}

.heading-secondary {
  font-family: "Sahitya", serif;
  font-weight: 400;
  color: #1f3255;
}

.heading-secondary--gold {
  font-family: "Sahitya", serif;
  font-weight: 400;
  color: #ffbf00 !important;
}

.heading-secondary--color-secondary {
  color: #4a678f;
  line-height: 1.6;
}

.heading-secondary--color-white {
  font-family: "Sahitya", serif;
  font-weight: 400;
  color: #FFFFFF;
}

.paragraph-secondary {
  color: #4D4E4E;
  font-weight: 100;
  line-height: 1.6;
  font-size: 90%;
}

.display-4.display-custom {
  font-size: 2rem;
}

.display-4.display-custom-2 {
  font-size: 2.5rem;
}

/*

Title: Heber Ximenes - Advocacia
Author: J Dutra M Nt
Author URL: https://dutraneto.com/portfolio
Starts on: 04/15/19

*/
.header__logo {
  width: 5rem;
}

@media only screen and (max-width: 37.5em) {
  .header__logo {
    width: 3rem;
  }
}

.header__logo-text {
  font-size: 60%;
  color: #CBD2D7;
}

@media only screen and (max-width: 37.5em) {
  .header__logo-text {
    font-size: 52%;
  }
}

.header .section-hero {
  padding: 1px 10%;
  background-color: #1f3255;
  height: 100vh;
  width: 100%;
  background-size: cover;
  background-image: url(../img/hero.jpg);
  background-repeat: no-repeat;
  background-position: bottom right;
}

@media only screen and (max-width: 56.25em) {
  .header .section-hero {
    padding: 1px;
  }
}

@media only screen and (max-width: 56.25em) {
  .header .section-hero {
    padding: 1px 5%;
    background-image: url(../img/hero-tablet.jpg);
    background-position: top right;
  }
}

@media only screen and (max-width: 37.5em) {
  .header .section-hero {
    padding: 1px 1px;
    background-image: url(../img/hero-phone.jpg);
    background-size: fill;
    background-position: top center;
  }
}

.navbar {
  padding: .7rem 1rem;
}

.navbar.border-stroke {
  border: none;
  border: 1px solid #ffbf00;
}

.navbar-brand {
  padding-top: 0 !important;
  padding-bottom: 0 !important;
}

.navbar.navbar-dark.navbar-navy {
  background-color: #1f3255;
}

button.navbar-toggler.custom-toggler {
  color: #ffbf00 !important;
  border: 1px solid #ffbf00 !important;
  border-radius: 0 !important;
  padding: .25em !important;
}

.custom-toggler .navbar-toggler-icon {
  background-image: url("../svg/menu.svg");
}

.footer {
  margin-top: -6px;
}

.footer__first {
  padding: .225rem 3.75rem;
  background-color: #1f3255;
}

@media only screen and (max-width: 56.25em) {
  .footer__first {
    padding-left: 1rem;
    padding-right: 1rem;
  }
}

.footer__logo {
  padding: 0;
  margin: 10px 5px;
}

@media only screen and (max-width: 56.25em) {
  .footer__logo {
    flex-direction: column;
  }
}

.footer__logo-text {
  margin-left: 1.5rem;
  color: #CBD2D7;
  font-family: "Sahitya", serif;
  font-weight: 400;
}

@media only screen and (max-width: 56.25em) {
  .footer__logo-text {
    margin-left: 0;
  }
  .footer__logo-text h5 {
    display: none;
  }
  .footer__logo-text h6 {
    margin-bottom: 0;
  }
}

.footer__logo-img {
  width: 5rem;
}

@media only screen and (max-width: 37.5em) {
  .footer__logo-img {
    width: 3rem;
  }
}

.footer__info {
  padding-left: 3.75rem;
  padding-right: 3.75rem;
  background-color: #4a678f;
}

@media only screen and (max-width: 56.25em) {
  .footer__info {
    padding-left: 1rem;
    padding-right: 1rem;
  }
}

.footer__info-arrowup {
  z-index: 100;
  right: 1rem;
  bottom: 1rem;
  transform: translateY(-50%);
}

.footer__info-arrowup:hover {
  transform: translateY(-60%);
}

.footer__info-oab__figcap {
  color: #CBD2D7;
  font-size: 100%;
  font-weight: 400;
}

.footer__info--text a {
  color: #CBD2D7;
  font-size: 100%;
  font-weight: 400;
}

.form-group.border-color-gray {
  border: 1px solid #A3977A;
}

.form-control.form-control-custom {
  padding: 0 5px;
}

.btn-custom {
  color: #ffbf00;
  border-radius: 0;
  border: 1px solid #ffbf00;
  background-color: #1f3255;
}

.btn.btn-custom:hover {
  background-color: #263d68;
  color: #ffbf00;
  border-color: #ffbf00;
}

.btn.btn-custom-md {
  padding: .5rem 2rem;
  font-size: 14px;
  font-weight: 400 !important;
  border: 1px solid #ffbf00;
}

.btn.btn-custom-lg {
  line-height: 2.0;
  padding: .5rem 2rem;
  font-size: 14px;
  font-weight: 100;
}

.btn.btn-custom-xl {
  line-height: 2.0;
  padding: .575rem 5rem;
  font-size: 16px;
  font-weight: 100;
}

.btn.btn-custom-plane {
  padding: 3px 10px 0 8px;
  display: inline-block;
  border-radius: 0;
  background-color: #A3977A;
}

.bounce {
  -moz-animation: bounce 2s infinite;
  -webkit-animation: bounce 2s infinite;
  animation: bounce 2s infinite;
}

@-moz-keyframes bounce {
  0%,
  20%,
  50%,
  80%,
  100% {
    -moz-transform: translateY(0);
    transform: translateY(0);
  }
  40% {
    -moz-transform: translateY(-30px);
    transform: translateY(-30px);
  }
  60% {
    -moz-transform: translateY(-15px);
    transform: translateY(-15px);
  }
}

@-webkit-keyframes bounce {
  0%,
  20%,
  50%,
  80%,
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  40% {
    -webkit-transform: translateY(-30px);
    transform: translateY(-30px);
  }
  60% {
    -webkit-transform: translateY(-15px);
    transform: translateY(-15px);
  }
}

@keyframes bounce {
  0%,
  20%,
  50%,
  80%,
  100% {
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  40% {
    -moz-transform: translateY(-30px);
    -ms-transform: translateY(-30px);
    -webkit-transform: translateY(-30px);
    transform: translateY(-30px);
  }
  60% {
    -moz-transform: translateY(-15px);
    -ms-transform: translateY(-15px);
    -webkit-transform: translateY(-15px);
    transform: translateY(-15px);
  }
}

/*

Title: Heber Ximenes - Advocacia
Author: J Dutra M Nt
Author URL: https://dutraneto.com/portfolio
Starts on: 04/15/19

*/
.info {
  padding-right: 3.75rem;
  width: 100%;
  background-color: #FFFFFF;
  display: flex;
  position: relative;
}

@media only screen and (max-width: 37.5em) {
  .info {
    padding-right: 0;
    display: block;
    margin-bottom: 10rem;
  }
}

.info__disp {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@media only screen and (max-width: 56.25em) {
  .info__disp {
    height: 150vh;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}

.info__bg-color {
  background-color: #1f3255;
  height: auto;
  width: 50%;
}

@media only screen and (max-width: 56.25em) {
  .info__bg-color {
    height: auto;
  }
}

@media only screen and (max-width: 37.5em) {
  .info__bg-color {
    height: auto;
    width: 25%;
  }
}

.info__text {
  flex-basis: 70%;
  background-image: url("../img/law-scale.jpg");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

@media only screen and (max-width: 56.25em) {
  .info__text {
    width: 90%;
    margin-left: auto;
  }
}

@media only screen and (max-width: 37.5em) {
  .info__text {
    margin-right: auto;
  }
}

.info__frame {
  margin: 0;
  margin-left: -8.5625em;
  max-width: 300px;
  min-height: 400px;
  border: 2px solid #1f3255;
  z-index: 3;
  overflow: hidden;
  padding: 13px;
}

@media only screen and (max-width: 56.25em) {
  .info__frame {
    margin: 0;
  }
}

.info__pic {
  height: 370px;
  z-index: 3;
  max-width: 270px;
  object-fit: cover;
  box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.3);
}

.services {
  padding: 5rem 3.75rem;
  background-color: #FAFAFA;
}

@media only screen and (max-width: 56.25em) {
  .services {
    padding: 3rem;
  }
}

.services__info {
  background: url("../img/lady-justice.png") no-repeat center center;
  background-size: cover;
}

@media only screen and (max-width: 56.25em) {
  .services__info {
    background-size: contain;
  }
}

@media only screen and (max-width: 56.25em) {
  .services__container {
    margin-top: 2rem;
  }
}

.services__card {
  border: 1px solid #ffbf00;
  height: 18.75rem;
  min-width: 18.75rem;
  margin-left: 1.5rem;
  margin-bottom: 1.5rem;
}

@media only screen and (max-width: 1124375em) {
  .services__card {
    height: 14.75rem;
    min-width: 14.75rem;
    margin-left: 1rem;
    margin-bottom: 1rem;
  }
}

@media only screen and (max-width: 37.5em) {
  .services__card {
    height: 18.75rem;
    min-width: 18.75rem;
  }
}

.services__card--gavel {
  stroke: #ffbf00;
}

.services__card--briefcase {
  stroke: #ffbf00;
}

.services__card--award {
  stroke: #ffbf00;
}

.services__card--balance {
  stroke: #ffbf00;
}

.contact {
  height: 100vh;
  width: 100%;
  background-image: url("../img/contact-desktop.jpg");
  background-repeat: no-repeat;
  background-position: bottom center;
  background-attachment: fixed;
  background-size: cover;
  -webkit-filter: contrast(1);
  filter: contrast(1);
}

@media only screen and (max-width: 56.25em) {
  .contact {
    background-attachment: scroll;
    height: 120vh;
  }
}

@media only screen and (max-width: 37.5em) {
  .contact {
    background-image: url("../img/contact-mobile.jpg");
    background-size: cover;
    background-position: center center;
  }
}

.form-control::placeholder {
  color: #CBD2D7 !important;
}

.agency {
  padding: 5rem 3.75rem 5rem 3.75rem;
  background-color: #FAFAFA;
}

.agency__work {
  min-width: 23.75em;
}

@media only screen and (max-width: 1124375em) {
  .agency__work {
    min-width: 18.75em;
  }
}

@media only screen and (max-width: 75em) {
  .agency__work {
    margin-bottom: 1em;
  }
}

@media only screen and (max-width: 75em) {
  .agency {
    padding-left: 3rem;
    padding-right: 3rem;
  }
}

.agency__figure {
  margin: 2em 1em 2em 0;
}

.map {
  height: 100vh;
  width: 100%;
  background-color: #FAFAFA;
}
