// -----------------------------------------------------------------------------
// This file contains all styles related to the button component.
// -----------------------------------------------------------------------------
.btn-custom {
  color: $color-stroke;
  border-radius: 0;
  border: 1px solid $color-stroke;
  background-color: $color-primary;
}

.btn.btn-custom:hover {
  background-color: lighten($color-primary, 5%);
  color: $color-stroke;
  border-color: $color-stroke;

}

.btn.btn-custom-md {
  padding: .5rem 2rem;
  font-size: 14px;
  font-weight: 400!important;
  border: 1px solid $color-stroke;
}

.btn.btn-custom-lg {
  line-height: 2.0;
  padding: .5rem 2rem;
  font-size: 14px;
  font-weight: 100;
}

.btn.btn-custom-xl {
  line-height: 2.0;
  padding: .575rem 5rem;
  font-size: 16px;
  font-weight: 100;
}

// button send email plane

.btn.btn-custom-plane {
  padding: 3px 10px 0 8px;
  display: inline-block;
  border-radius: 0;
  // border: 1px solid $color-stroke;
  background-color: $color-button-secondary;
}
