.footer {
  // to handle with gaps between map and footer
  margin-top: -6px;
  &__first {
    padding: .225rem 3.75rem;
    background-color: $color-primary;

    @include respond(tab-port) {
      padding-left: 1rem;
      padding-right: 1rem;
    }
  }

  &__logo {
    // width: 40%;
    padding: 0;
    margin: 10px 5px;

    @include respond(tab-port) {
      flex-direction: column;

    }

    &-text {
      margin-left: 1.5rem;
      color: $color-text-gray;
      @include sahitya-regular;

      @include respond(tab-port) {
        margin-left: 0;
        h5 {
          display: none;
        }
        h6 {
          margin-bottom: 0;
        }
      }
    }
    &-img {
      width: 5rem;

      @include respond(phone) {
        width: 3rem;
      }
    }
  }

  &__info {
    padding-left: 3.75rem;
    padding-right: 3.75rem;
    background-color: $color-secondary;

    @include respond(tab-port) {
      padding-left: 1rem;
      padding-right: 1rem;
    }

    &-arrowup {
      z-index: 100;
      right:1rem;
      bottom: 1rem;
      transform: translateY(-50%)
    }
    &-arrowup:hover {
      transform: translateY(-60%)
    }

    &-oab {

      &__figcap {
        color: $color-text-gray;
        font-size: 100%;
        font-weight: 400;
      }
    }

    &--text a {
        color: $color-text-gray;
        font-size: 100%;
        font-weight: 400;
    }
  }
}

.form-group.border-color-gray {
    border: 1px solid $color-button-secondary;
}

.form-control.form-control-custom {
  padding: 0 5px;
}
