.footer {
  margin-top: -6px;
  &__first {
    background-color: $color-primary;
  }

  &__form {

  }

  &__logo {
    width: 40%;
    padding: 0;
    margin: 10px 5px;

    &-text {
      color: $color-text-gray;
      @include sahitya-regular;
      font-size: 52%;
    }
  }

  &__info {
    background-color: $color-secondary;

    &-oab {

      &__figcap {
        color: $color-text-gray;
        font-size: 80%;
        font-weight: 100;
      }
    }

    &--text a {
        color: $color-text-gray;
        font-size: 80%;
        font-weight: 100;
    }
  }
}

.form-group.border-color-gray {
    border: 1px solid $color-button-secondary;
}

.form-control.form-control-custom {
  padding: 0 5px;
  font-size: 10px;
}