// -----------------------------------------------------------------------------
// This file contains all styles related to the header of the site/application.
// -----------------------------------------------------------------------------
.header {
  background-color: $color-primary;
  border: 1px solid $color-stroke;
  &__logo {
    width: 70px;
  }
}

// remove padding from bootstrap
.navbar-brand {
  padding-top: 0 !important;
  padding-bottom: 0 !important;
}

button.navbar-toggler.custom-toggler {
  color: $color-stroke !important;
  border: 1px solid $color-stroke !important;
  border-radius: 0 !important;
  padding: .25em !important;
}

.custom-toggler .navbar-toggler-icon {
  background-image: url("../svg/menu.svg");
}