/*

Title: Heber Ximenes - Advocacia
Author: J Dutra M Nt
Author URL: https://dutraneto.com/portfolio
Starts on: 04/15/19

*/

// -----------------------------------------------------------------------------
// This file contains all styles related to the header of the site/application.
// -----------------------------------------------------------------------------
.header {
  &__logo {
    width: 5rem;
    @include respond(phone) {
      width: 3rem;
    }
    &-text {
      font-size: 60%;
      color: $color-text-gray;

      @include respond(phone) {
        font-size: 52%;
      }
    }
  }


  ////////////////
  // Section Hero
  ///////////////

  .section-hero {
    padding: 1px 10%;
    background-color: $color-primary;
    // display: none;
    height: 100vh;
    width: 100%;
    background-size: cover;
    // background: url("/dist/assets/img/hero.png") $color-primary;
    // background-image: linear-gradient(to right bottom,
    //                                 rgba(31, 50, 85, .4),
    //                                 rgba(74, 103, 143, 0.4)),
    //                                 url(../img/hero.png);
    background-image: url(../img/hero.jpg);
    background-repeat: no-repeat;
    background-position: bottom right;
    // object-fit: contain;
    // background-size: 100%;
    @include respond(tab-port) {
      padding: 1px;
    }
    @include respond(tab-port) {
      padding: 1px 5%;
      background-image: url(../img/hero-tablet.jpg);
      background-position: top right;
    }
    @include respond(phone) {
      padding: 1px 1px;
      background-image: url(../img/hero-phone.jpg);
      background-size: fill;
      background-position: top center;
      // object-fit: contain;
      // background-size: 100%;
      // height: 90vh;
    }
  }
}

.navbar {
  padding: .7rem 1rem;
}
.navbar.border-stroke {
  border:none;
  border: 1px solid $color-stroke;
}
.navbar-brand {
  padding-top: 0 !important;
  padding-bottom: 0 !important;
}
.navbar.navbar-dark.navbar-navy {
  background-color: $color-primary;
}

button.navbar-toggler.custom-toggler {
  color: $color-stroke !important;
  border: 1px solid $color-stroke !important;
  border-radius: 0 !important;
  padding: .25em !important;
}

.custom-toggler .navbar-toggler-icon {
  background-image: url("../svg/menu.svg");
}
// -------------------HERO--------------------- //
