.section-hero {
  height: 85vh;
  width: 100%;
  // background: url("/dist/assets/img/hero.png") $color-primary;
  background-image: linear-gradient(to right bottom,
                                  rgba(31, 50, 85, .4),
                                  rgba(74, 103, 143, 0.4)),
                                  url(/dist/assets/img/hero.png);
  background-position:  right -326px top -100px;
  background-repeat: no-repeat;
  // object-fit: contain;
  // background-size: 100%;
}